<div class="b-image">
	<div class="b-image__scroller">
		<div class="b-image__wrapper">
			<li ng-repeat="image in $ctrl.images" class="b-image__container">
				<img ng-src="{{image.src}}" alt="" class="b-image__item">
			</li><!-- end.b-image__container -->
		</div><!-- end.b-image__wrapper -->
	</div><!-- end.b-image__scroller"-->
	<div class="b-image__controlls" ng-if="$ctrl.hotel.images.length > 0">
		<div class="b-image__controll--left b-image__controll">
			<a href="#" ng-click="$ctrl.slides.prev()"><i class="fa fa-angle-left b-image__controll-icon b-image__controll-icon--left"></i></a>
		</div><!-- end.b-image__controll-\-left -->
		<div class="b-image__controll--right b-image__controll">
			<a href="#" ng-click="$ctrl.slides.next()"><i class="fa fa-angle-right b-image__controll-icon b-image__controll-icon--right"></i></a>
		</div><!-- end.b-image__controll-\-right -->
	</div><!-- end.b-image__controlls -->
</div><!-- end.b-image -->