<div class="b-hotel">
	<div class="b-hotel__main">
		<div class="b-image">
			<div class="b-image__scroller" >
				<div class="b-image__wrapper">
					<li ng-repeat="image in $ctrl.sliderImages" ng-show="image.visible" class="b-image__container">
						<img ng-src="{{image.src}}" alt="$ctrl.hotel.name" class="b-image__item">
					</li><!-- end.b-image__container -->
				</div><!-- end.b-image__wrapper -->
			</div><!-- end.b-image__scroller"-->
			<div class="b-image__controlls" ng-if="$ctrl.sliderImages.length > 0">
				<div class="b-image__controll--left b-image__controll" ng-click="$ctrl.slides.prev()">
					<a href="#" ><i class="fa fa-angle-left b-image__controll-icon b-image__controll-icon--left"></i></a>
				</div><!-- end.b-image__controll-\-left -->
				<div class="b-image__controll--right b-image__controll" ng-click="$ctrl.slides.next()">
					<a href="#" ><i class="fa fa-angle-right b-image__controll-icon b-image__controll-icon--right"></i></a>
				</div><!-- end.b-image__controll-\-right -->
			</div><!-- end.b-image__controlls -->
		</div><!-- end.b-image -->
		<div class="b-info">
			<div class="b-info__general">
				<div class="b-name-location">
					<h1 class="b-name-location__name">{{$ctrl.hotel.name}}</h1>
					<p class="b-name-location__location">{{$ctrl.hotel.city}} - {{$ctrl.hotel.country}}</p>
				</div><!-- end.b-name-location -->
				<div class="b-star">
					<i ng-repeat="i in [1,2,3,4,5]" class="fa" ng-class="i <= $ctrl.hotel.stars ? 'fa-star' : 'fa-star-o'" ></i>
				</div><!-- end.b-star -->
			</div><!-- end.b-info__general -->
			<div class="b-info__description">
				<p class="b-info__description-item">{{$ctrl.hotel.description}}</p>
			</div><!-- end.b-info__description-->
			<div class="b-info__details">
				<div class="b-toggler b-toggler--default" ng-class="$ctrl.toggler.toggler.class">
					<a href="#" class="b-toggler__item" ng-click="$ctrl.toggler.showReview($ctrl.hotel.id)">{{$ctrl.toggler.toggler.string}}</a>
						<!-- <a href="#" class="b-toggler__item" ng-click="$ctrl.toggleReview($ctrl.hotel.id)">{{$ctrl.toggleString}}</a> -->
					</div><!-- end.b-toggler -->
				<div class="b-availability">
					<div class="b-price">
						<h2 class="b-price__item">{{$ctrl.hotel.price}}<span class="b-price__currency"> €</span></h2>
					</div><!-- end.b-price -->
					<div class="b-date">
						<p class="b-date__item">{{$ctrl.hotel.date_start}} <span class="b-date__divider">-</span> {{$ctrl.hotel.date_end}}</p>
					</div><!-- end.b-date -->
				</div><!-- end.b-availability -->
			</div><!-- end.b-info__details -->
		</div><!-- end.b-info-->
	</div><!-- end.b-hotel__main -->
	<div class="b-hotel__reviews-wrapper" ng-class="$ctrl.toggler.reviewWrapper.class">
		<review ng-repeat="review in $ctrl.reviews" review-obj="review"></review>
	</div><!-- end.b-hotel__reviews-wrapper -->
</div><!-- end.b-hotel -->