@import 'prefixer';
@import 'colors';
@import 'normalize';
@import url('https://fonts.googleapis.com/css?family=Dosis:200,400,600&subset=latin-ext');

//MIXINS
@mixin button() {
	position: relative;
	a {
		
		text-transform: uppercase;
		text-decoration: none;
		box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
		padding: 10px 12px;
		border-radius: 300px;
	}
}

@mixin buttonColor($color) {
	a {
		background-color: color(#{$color}, 'darken-3');
		color: color(#{$color}, 'lighten-4');
		&:hover {
			background-color: color(#{$color}, 'darken-2');
			box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
		}
	}
}

@mixin buttonSuccess($color) {
	a {
		background-color: color(#{$color}, 'lighten-3');
		color: color(#{$color}, 'darken-3');
		&:hover {
			background-color: color(#{$color}, 'lighten-2');
			box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
		}
	}
}

body {
	font-family: 'Dosis', sans-serif;
}

.b-wrapper {
	display: flex;
	flex-direction: column;
	padding: 30px 0;
	height: 10vh;
	@include transition(1s);
	@include transition-property(all);
	&.b-wrapper--row {
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	&.b-wrapper--half {
		height: 100vh;
	}
	&.b-wrapper--hotels {
		background-color: #fff;
		height: 100vh;
	}
}
.b-background {
	height: 100vh;
	&.b-background--gradient {
		background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
		
	}
}

.b-button {
	@include button();
	&.b-button--primary {
		@include buttonColor('blue-grey');
	}
	&.b-button--success {
		@include buttonSuccess('blue-grey');
	}
}

.b-hotel {
	flex: 1 1 auto;
	width: 60%;
	margin: auto;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	.b-hotel__main {
		flex: 1 1 auto;
		display: flex;
		border-radius: 3px;
		overflow: hidden;
		box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.3);
		z-index: 222;
	}
	.b-hotel__reviews-wrapper {
		flex: 1 1 auto;
		margin: auto;
		width: 95%;
		display: flex;
		flex-direction: column;
		z-index: 111;
		opacity: 0;
		height: 0;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		overflow: hidden;
		@include transform(translate3d(0,-100px,0))
		@include transition(0.3s);
		@include transition-property();
		&.b-hotel__reviews-wrapper--open {
			@include transform(translate3d(0,0,0));
			opacity: 1;
			height: auto;
		}
	}
}

.b-image {
	flex: 0 0 33%;
	overflow: hidden;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	.b-image__scroller {
		flex: 1;
		overflow: hidden;
		.b-image__wrapper {
			list-style-type: none;
			white-space: nowrap;
			font-size: 0;
			line-height: 0;
			transition: transform 0.5s ease-in-out;
			.b-image__container {
				@include transition(transform 1s ease-in-out);
				display: inline-block;
				.b-image__item {
					width: 100%;
					height: auto;
				}
			}
		}
	}
	.b-image__controlls {
		flex: 0 0 auto;
		margin-top: -30px;
		display: flex;
		position: relative;
		z-index: 3333;
		background-color: rgba(255, 255, 255, 0.5);
		@include transition(0.3s)
		@include transition-property();
		.b-image__controll {
			flex: 1;
			cursor: pointer;
			font-size: 20px;
			padding-left: 20px;
			a {
				color: #fff;
				font-size: 16px;
			}
			&:hover {
				background-color: rgba(255, 255, 255, 0.2);
			}
			&.b-image__controll--right {
				text-align: right;
				padding-right: 20px;
			}
		}
	}
}

.b-info {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
	padding: 0 20px;
	color: #fff;
	font-weight: 200;
	.b-info__general {
		flex: 1 1 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
	}
	.b-info__description {
		flex: 1 2 auto;
		display: flex;
		align-items: center;
		font-size: 16px;
	}
	.b-info__details {
		flex:  1 1 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.b-name-location {
	.b-name-location__name {
		font-weight: 200;
		padding-bottom: 10px;
	}
	.b-name-location__location {

	}

}

.b-toggler {
	@include button();
	a {
		font-size: 12px;
		padding: 8px 10px; 
	}
	&.b-toggler--default {
		@include buttonColor('deep-orange');
	}
	&.b-toggler--success {
		@include buttonSuccess('blue-grey');
	}
}

.b-availability {
	text-align: right;
}

.b-review {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	&.b-review--negative {
		background-image: linear-gradient(15deg, color('materialize-red', 'lighten-3') 0%, color('materialize-red', 'lighten-4') 100%);
		//background-color: color('materialize-red', 'lighten-4');
		color: color('materialize-red', 'darken-3')
	}
	&.b-review--positive {
		background-image: linear-gradient(15deg, color('light-green', 'lighten-3') 0%, color('light-green', 'lighten-4') 100%);
		//background-color: color('light-green', 'lighten-4');
		color: color('light-green', 'darken-3')
	}
	.b-review__icon {
		flex: 0 0 10%;
		text-align: center;
		.b-review__icon-item {
			padding: 10px 12px;
			border-radius: 50%;
			&.b-review__icon-item--plus {
				background-color: color('light-green', 'base');
				color: color('light-green', 'darken-3')
			}
			&.b-review__icon-item--minus {
				background-color: color('materialize-red', 'base');
				color: color('materialize-red', 'darken-3')
			}
		}
	}
	.b-review__content {
		flex: 1 1 auto;
		padding-right: 10px;
		.b-review__name {
			font-weight: bold;
		}
	}
}

.b-error {
	flex: 1 1 auto;
	margin: auto;
	width: 60%;
	text-align: center;
}

.b-star {
	font-size: 16px;
	.fa {
		padding-left: 5px;
	}
}
.b-price {
	.b-price__currency {
		font-weight: 200;
		//font-size: 16px;
	}
}
.b-error {
	.b-error__text {
		font-size: 18px;
		font-weight: 400;
	}
}

@media only screen and (max-device-width: 720px) {
	.b-hotel__main {
		flex-direction: column;
	}
}
@media only screen and (max-device-width: 1280px) {
	.b-hotel__main {
		flex-direction: row;
	}
	.b-name-location {
		.b-name-location__name {
			font-size: 24px;
			font-weight: 400;
			padding-bottom: 5px;
		}
	}
	.b-info {
		.b-info__description {
			font-size: 14px;
		}
	}
	.b-price__item {
		font-size: 24px;
	}
}